@import url("style/header.css");
body {
    background-color: rgb(187, 187, 187);
}
.container img{
    max-width:200px;
    max-height: 100px;
    width:30%;
    height:40%;
}

.h1 {
    color:rgb(61, 61, 172);
}

.h2 {

    color:rgb(247, 0, 0);
    
}