@import url("style/header.css");
body {
    background-color: rgb(19, 109, 1);
}
.container img{
    max-width:200px;
    max-height: 100px;
    width:auto;
    height: auto;
}

.h1 {
    color:rgb(61, 61, 172);
}

.h2 {

    color:rgb(247, 0, 0);
    
}